# Lists    

Data Structure:   

A data structure is a collection of data elements (such as numbers or characters - or even other data structures) that is structured in some way, for example, by numbering the elements. The most basic data structure in Python is the "sequence".    

 > List is one of the Sequence Data structure   

 > Lists are collection of itemsn (Strings, integers or even tother lists)   

 > Lists are encloded in []

 > Each item in the list has an assigned index value. 

 > Lists are mutable, which means they can be changed

# List Creation

In [1]:
emptyList = []

lst = ['one', 'two', 'four']    # list of strings

lst2 = [1, 2, 3, 4, 5]  # list of integers

lst3 = [[1, 2], [3, 4]]     # list of lists

lst4 = [1, 'senpai', 24, 1.245, [1, 34, 53, 'hello', (43, 43)]]     # list of different datatypes

print(lst4)

[1, 'senpai', 24, 1.245, [1, 34, 53, 'hello', (43, 43)]]

# List length

In [2]:
lst = ['one', 'two', 'three']

# find length of a list
print(len(lst))

3

# List Append

In [3]:
lst = ['one', 'two', 'three']

lst.append('four')      # append will add the item in the end

print(lst)

['one', 'two', 'three', 'four']

# List Insert

In [4]:
# Syntax: lst.insert(x, y)

lst = ['one', 'two', 'four']

lst.insert(2, 'three')  # will add element y at location x

print(lst)

['one', 'two', 'three', 'four']

# List Remove

In [6]:
# Syntax: lst.remove(x)

lst = ['one', 'two', 'three', 'four', 'two']

lst.remove('two')   # it will remove first occurence of 'two' in a given list
print(lst)

['one', 'three', 'four', 'two']

# List Append & Extend

In [11]:
lst = ['one', 'two', 'three', 'four']

lst2 = ['five', 'six']

# append
# lst.append(lst2)
# print(lst)
# extend
lst.extend(lst2)
print(lst)

['one', 'two', 'three', 'four', 'five', 'six']

# List Delete

In [14]:
# del to remove item based on index position

lst = ['one', 'two', 'three', 'four', 'five']

del lst[1]
print(lst)

# or we can use pop() method
a = lst.pop()
print(a)

print(lst)

['one', 'three', 'four', 'five']
five
['one', 'three', 'four']

In [16]:
lst = ['one', 'two', 'three', 'four']

# remove an item from list

lst.remove('three')
print(lst)

['one', 'two', 'four']

# List related keywords in Python

In [18]:
# keyword 'in' is used to test if an item is in a list

lst = ['one', 'two', 'three', 'four']

if 'two' in lst:
    print('Two plus two is four')

# keyword 'not' can combine with 'in'ArithmeticError

if 'five' not in lst:
    print("'Five' is missng in the list")

Two plus two is four
'Five' is missng in the list

# List Reverse

In [19]:
# reverse, reverses teh entire list

lst = ['one', 'two', 'three', 'four']

lst.reverse()
print(lst)

['four', 'three', 'two', 'one']

# List Sorting   

The easiest way to sort a List is with the `soted(list)` function.    

That takes a list and returns a new list with those elements in sorted order.   

The original list is not changed.   

The `sorted()` optional argument reverse = Trye, e.g. `sorted(list, reverse=True)`, makes it sort backwards.

In [21]:
# create a list with numbers

nums = [3, 1, 5, 3, 4, 2, 6]

sorted_lst = sorted(nums)

print("Sorted list: ", sorted_lst)
print("Original list: ", nums)

Sorted list:  [1, 2, 3, 3, 4, 5, 6]
Original list:  [3, 1, 5, 3, 4, 2, 6]

In [23]:
# print a list in reverse sorted order
print("Reverse sorted list: ", sorted(nums, reverse=True))

# original list remain unchanged
print("Original list: ", nums)

Reverse sorted list:  [6, 5, 4, 3, 3, 2, 1]
Original list:  [3, 1, 5, 3, 4, 2, 6]

In [25]:
lst = [1, 20, 43, 43, 2, 5, 23, 52352]

# sort the list and sotre it in itself

lst.sort()
print("Sorted list: ", lst)

Sorted list:  [1, 2, 5, 20, 23, 43, 43, 52352]

In [27]:
lst = [1, 20, 'b', 5, 'a']
print(lst.sort())   #  sort list with element of different datatypes.

TypeError: '<' not supported between instances of 'str' and 'int'

# List Having Multiple References

In [28]:
lst = [1, 2, 4, 5]
abc = lst
abc.append(6)

# print original list
print("Original list: ", lst)

Original list:  [1, 2, 4, 5, 6]

# String Split to create a list

In [29]:
# let's take a string

s = "one,two,three,four,five"
slst = s.split(',')
print(slst)

['one', 'two', 'three', 'four', 'five']

In [30]:
s = "This is my python notebook"

split_lst = s.split()   # default split is white-character: space or tab
print(split_lst)

['This', 'is', 'my', 'python', 'notebook']

# List Indexing   

Each item in the list has an assigned index value starting from 0.   

Acessing elements in a list is called indexing.

In [32]:
lst = [1, 2, 3, 4]
print(lst[1])   # print second element

# print last element using negative index
print(lst[-1])

2
4

# List Slicing   

Accessing parts of segments is called slicing.   

The key point to remember is that the `:end` value represents the first value that is not in the selected slice.    

`Syntax:`   
 `list`[ `start` : `end` : `step`]

In [33]:
nums = [10, 20, 30, 40, 50, 60, 70, 80]

# print all numbers
print(nums[:])

# print from index 0 to 3
print(nums[:4])

[10, 20, 30, 40, 50, 60, 70, 80]
[10, 20, 30, 40]

In [35]:
print(nums)

# print alterante elements in a list
print(nums[::2])

print(nums[:])

[10, 20, 30, 40, 50, 60, 70, 80]
[10, 30, 50, 70]
[10, 20, 30, 40, 50, 60, 70, 80]

# List extend using `'+'`

In [37]:
lst1 = [1, 2, 3, 4]
lst2 = ['aman', 'senpai', 'raj']
new_lst = lst1 + lst2
print(new_lst)

[1, 2, 3, 4, 'aman', 'senpai', 'raj']

# List Count

In [38]:
nums = [1, 2, 3, 1, 3, 4, 2, 5]

#frequency of 1 in list
print(nums.count(1))

# frequency of 3 in a list
print(nums.count(3))

2
2

# List Looping

In [39]:
# Loop through a list

lst = ['one', 'two', 'three', 'four']

for e in lst:
    print(e)

one
two
three
four

# List Comprehensions   

 > List comprehensions provide a concise way to create lists.   

 > Common applications are to make new lists where each element is the result of some operations applied to each memeber of another sequence or iterable, or to create a subsequence of those elements that satisfy a certain condition.

In [40]:
# without list comorehension

squares = []

for i in range(10):
    squares.append(i ** 2)  # lsit append
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [43]:
# using list comprehension
squares = [i ** 2 for i in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [46]:
# example

lst = [-10, -20, 10, 20, 50]

# create a new list with values doubled
new_lst = [i * 2 for i in lst]
print(new_lst)

# create a list of tuples like (number, square_of_number)
tuple_list = [(n, n ** 2) for n in range(10)]
print(tuple_list)

[-20, -40, 20, 40, 100]
[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)]

# Nested List Comprehensions

In [47]:
# let's suppose we have a matrix

matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12]
]

# transpose of a matrix wihthout list comprehension

transpose = []
for i in range(4):
    lst = []
    for row in matrix:
        lst.append(row[i])
    transpose.append(lst)

print(transpose)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [49]:
# transpose w\ list comprehensions
transpose = [[row[i] for row in matrix] for i in range(4)]
print(transpose)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]