# Tuples   

 > A `tuples` is similar to list.   

 > The difference between the two is that we can't change the elements of tuple once it is assigned whereas in the list, elements can be changed. The are `immutable`.   

# Tuple Creation

In [2]:
# empty tuple
t = ()

# tuple having integers
t = (1, 2, 3)
print(t)

# tuple with mixed datatypes
m = (1, 'raj', 293, 'senpai')
print(m)

# nested tuple
n = (1, (2, 3, 4), [1, 'senpai', 4343, 'aman'])
print(n)

(1, 2, 3)
(1, 'raj', 293, 'senpai')
(1, (2, 3, 4), [1, 'senpai', 4343, 'aman'])

In [3]:
# only parenthesis is not enough
t = ('senpai')
type(t)

str

In [5]:
# need a comma at the end
t = ('senapi',)
type(t)

tuple

In [12]:
# parenthesis is optional
t = "senpai", "aman",
print(type(t))

print(t)

<class 'tuple'>
('senpai', 'aman')

# Accessing Elements in Tuple

In [13]:
t = ('senpai', 'raj', 'aman', 'human', 'being', 'isekai')

print(t[1])

raj

In [14]:
# negative index
print(t[-1])

isekai

In [15]:
# nested tuple
t = ('senpai', ('aman', 'raj', 'isekai'))

print(t[1])

('aman', 'raj', 'isekai')

In [16]:
print(t[1][2])

isekai

In [19]:
# Slicing

t = (1, 2, 3, 4, 5, 6, 7, 8)

print(t[1:4])

# print elements from starting to 2nd last elements
print(t[:-2])

# print elements from starting to end
print(t[::])

(2, 3, 4)
(1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 5, 6, 7, 8)

# Changing a Tuple   

#unlike lists, tuples are `immutable`    

#This means that elements of a tuple cannot be changed once it has been assigned. But, if the element is itself a mutable dataype like list, its nested items can be changed.

In [20]:
# Creating tuple

t = (1, 2, 3, 4, [5, 6, 7])

t[2] = 'x'  # Willget TypeError

TypeError: 'tuple' object does not support item assignment

In [22]:
t[4][1] = 'god'
print(t)

(1, 2, 3, 4, [5, 'god', 7])

In [23]:
# concatinating tuples

t = (1, 2, 3,) + (4, 5, 6)
print(t)

(1, 2, 3, 4, 5, 6)

In [25]:
# repeat the elements in a tuple for a given number of times using the * operator

t = (('senpai', ) * 4)
print(t)

('senpai', 'senpai', 'senpai', 'senpai')

# Tuple Deletion   

 > We cannot change the lements in a tuple.   

 > That also mean we cannot delete or remove items froma tuple.   

 > Delete entire tuple using `del` keyword

In [26]:
t = (1, 2, 3, 4, 5, 6)

# delelte entire tuple
del t

# Tuple Count

In [28]:
t = 1, 2, 3, 1, 3, 3, 4, 1

# get the frequency of particular element appears in a tuple
print(t)
t.count(1)

(1, 2, 3, 1, 3, 3, 4, 1)

3

# Tuple Index

In [29]:
t = 1,2, 3, 1, 3, 3, 4, 1

print(t.index(3))   # return index of the first occurance of 3

# print index of 1

print(t.index(1))

2
0

# Tuple Memembership

In [30]:
# test if an item exists in a tuple or not, using they keyword in.

t = 1, 2, 3, 4, 5, 6

print( 1 in t)

True

In [31]:
print(7 in t)

False

# Built in Functions

## Tuple Lenght

In [32]:
t = 1, 2, 3, 4, 5, 6
print(len(t))

6

# Tuple Sort

In [35]:
t = 4, 5, 1, 2, 3

new_t = sorted(t)
print(new_t) # Take elements in the tuple and return a new sorted list
# (does not sort the tuple itself).

(1, 2, 3, 4, 5)

In [36]:
# get the largest element in a tuple
t = 2, 5, 2, 53, 3423, 5

print(max(t))

3423

In [37]:
# get the smallest element in a tuple
print(min(t))

2

In [38]:
# get sum of elements in the tuple
print(sum(t))

3490