# Variables   

A variable is a location in memory used to store some data(value).   

They are given unique names to differentiatie between memory locations. The rules for writing a variable name is same as the rules for writing identifiers in Python.   

We don't need to declare a variable before using it. In Python, we simply assign a value to a variable and it will exist. We don't even have to declare the type of variable. This is handled internally acording to the type of value we assign to the variable

# Variable Assignments

In [2]:
# we use the assignment operator (=) to assign values to a variable
a = 10
b = 5.5
c = "Senpai"

# Multiple Assignments

In [3]:
a, b, c = 10, 5.5, "Senpai"

In [5]:
a = b = c = "Hola!"

# Storage Locations

In [8]:
x = 3
print(id(x))        # Print address of variable x

9801312

In [9]:
y = 3
print(id(y))        # Print address of variable y

9801312

Observation:   

x and y points to same memory location

In [10]:
y = 2
print(id(y))

9801280

# Data Types   

Every value in Python has a datatype. Since everything is an object in Python programming, data types are actually classes and variables are instances(objects) of those classes.

# Numbers   

Integers, floating point numbers and complex numbers falls under Python numbers category. They are defined as int, float and complex class in Python.   

We can use the type() function to know which class a variable or a value belongs to and the instance() function to check if an object belongs to a particular class.

In [11]:
a = 5       # data type is implicitly set to ineger
print(a, "is of type", type(a))

5 is of type <class 'int'>

In [12]:
a = 2.5     # data type if changed float
print(f"a is of type {type(a)}")

a is of type <class 'float'>

In [15]:
a = 1 + 2j      # data type changed to complex number
print(f"a is of {type(a)}")
print(isinstance(1+2j, complex))

a is of <class 'complex'>
True

# Boolean   

Boolean represents the truth balues False and True

In [16]:
a = True        # a is boolean type
print(type(a))

<class 'bool'>

# Python Strings   

String is sequence of Unicode characters.   

We can use single quoters or double quotes to represent strings.   

Multi-line strings can be denoted using triple quotes `'''` or `"""`.   

A string in Python consists of a series or sequence of characters : letters, numbers, and special characters.   

Strings can be indexed - often synonymously called subsripted as well.   

Simlear to C, the first character of a string has the index 0.

In [17]:
s = "This is an example of string"
print(s)

This is an example of string

In [21]:
print(s[0])
# lst char s[len(s) - 1] or s[-1]
s[-1]

T

'g'

In [20]:
# Slicing
s[5:]

'is an example of string'

# Python List   

List is an ordered sequence of items. It is one of the most used datatype in Python and is very flexible. All the items in a list od not need to be of the same type.   

Declaring a list is, items separed by commas are enclosed within brackets `[]`

In [22]:
a = [10, 20.5, "Hello"]
print(a[1])     #print 1st index of element

20.5

Lists are mutable, meaning, value of elements of a list can be altered.

In [23]:
a[1] = 30.4343
print(a)

[10, 30.4343, 'Hello']

# Python Tuple   

Tuple is an ordered sequence of items same as list. The only difference is that tuples are immutable. Tuples ones created cannot be modified.

In [24]:
t = (1, 1.4, "Hello")

In [26]:
print(t[1]) #extract particular element

1.4

In [27]:
t[1] = 1.52

TypeError: 'tuple' object does not support item assignment

# Python Set   
Set is an unordered collection of unique items. Set is defined by values separated by comma inside braces `{}`. Items in a set are not ordered.

In [28]:
a = {10, 30, 20, 40, 5}
print(a)

{5, 40, 10, 20, 30}

In [29]:
print(type(a))

<class 'set'>

We can perfom set operations like union, intersection on two sets. Set have unique values.

In [34]:
s = {10, 20, 30, 30, 30, 43}
print(s) # automatically set won't consider duplicate elements

{10, 43, 20, 30}

In [35]:
print(s[1]) # we can't print particular element in set because
            # it's unorder collections of items

TypeError: 'set' object is not subscriptable

# Python Dictionary   

Dictionary is an unordered collection of key-value pairs.   

In Python, dictionaries are defined within braced `{}` with each item being a pair in the form key:value . Key and value can be of any type.

In [36]:
d = {'a': "apple", 'b': "bat"}
print(d['a'])

apple

# Conversion between Datatypes   

We can convert between different data types by using different type conversion functions like `int()`, `float()`, `str()` etc.

In [38]:
float(5)    # Convert interger to float using float() method

5.0

In [39]:
int(100.43)     # Convert float to integer using int() method

100

In [40]:
str(20)     # convert integer to string

'20'

Conversion to and from stirng must contain compatible values.

In [41]:
int('10p')

ValueError: invalid literal for int() with base 10: '10p'

In [2]:
user = "Senpai"
lines = 500

print("Congratulations, " + user + "! You just wrote " + str(lines) + " lines of code")

Congratulations, Senpai! You just wrote 500 lines of code

In [4]:
# or

user = "Senpai"
lines = 14343
print(f"Congratulations {user} you've just wrote {lines} of code")

Congratulations Senpai you've just wrote 14343 of code

We can convert one sequece to other

In [5]:
a = [1, 2, 3]
print(type(a))  # type of a is list

s = set(a)  # conver list to set using set() method

print(type(s))  # now type of s is set

<class 'list'>
<class 'set'>

In [6]:
list("Hello")   #convert string to list using list() method

['H', 'e', 'l', 'l', 'o']